<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="./css/index.css">
    </head>
    <body>
        <div class="back"> 

        <div class="container">
        <form method="POST" action={{action}}>
            Username : <input type="text" name="username" autofocus="" id="name" value="" required ><br><br>
            Password : <input type="password" name="password" class="pass" id="pwd1" value = {{suggested_password}} required>
            <i class="fa-sharp fa-regular fa-eye" id = "eye"style="color: #41511f;"></i>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
        <p>The suggested password is {{suggested_password}}</p>
        <form method="POST" action={{action}}>
            Username : <input type="text" name="username" autofocus="" id="name" value="" required ><br><br>
            Password : <input type="password" name="password" class="pass" id="pwd2" value = {{suggested_password}} required>
            <i class="fa-sharp fa-regular fa-eye" id = "eye2"style="color: #41511f;"></i>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
        <div>
        </div>
    </body>
    <script src="/js/toggle.js"></script>
</html>
